###############################
# Core EditorConfig Options   #
###############################
root = true

# All files
[*]
indent_style = space

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
insert_final_newline = true

###############################
# C# Coding Conventions       #
###############################
[*.cs]
# var preferences
csharp_style_var_for_built_in_types = true:silent
csharp_style_var_when_type_is_apparent = true:silent
csharp_style_var_elsewhere = true:silent

###############################
## StyleCop.Analyzers         #
###############################

# XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = None

# Prefix local calls with this
dotnet_diagnostic.SA1101.severity = None

# Using directive should appear within a namespace declaration
dotnet_diagnostic.SA1200.severity = None

# Field '_blah' should not begin with an underscore
dotnet_diagnostic.SA1309.severity = None

# Arithmetic expressions should declare precedence
dotnet_diagnostic.SA1407.severity = None

# Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = None

# Elements should be documented
dotnet_diagnostic.SA1600.severity = None

# The property's documentation summary text should begin with: 'Gets or sets'
dotnet_diagnostic.SA1623.severity = None

# The file header is missing or not located at the top of the file
dotnet_diagnostic.SA1633.severity = None

# Constructor summary documentation should begin with standard text
dotnet_diagnostic.SA1642.severity = None